BACKEND_URL=http://localhost:3333
BACKEND_API_SECRET=secret23
PORT=1999
HOST=0.0.0.0
YJS_SERVER_LOG_LEVEL=info
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
YJS_SERVER_SAVE_DEBOUNCE_MS=1000
YJS_SERVER_SOCKET_PING_INTERVAL_MS=10000
YJS_SERVER_SOCKET_PING_TIMEOUT_MS=5000
YJS_SERVER_R2_ENDPOINT=https://<account>.r2.cloudflarestorage.com
YJS_SERVER_R2_BUCKET=kanwas-yjs-staging
YJS_SERVER_R2_ACCESS_KEY_ID=
YJS_SERVER_R2_SECRET_ACCESS_KEY=
